.fridge {
  position: relative;
  &__toptitle {
    text-align: center;
    color: white;
    background-color: gray;
    height: 22px;
  }
  &__list {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.fridgeitem {
  position: relative;
  width: 65px;
  height: 65px;
  border-radius: 15px;
  background: rgb(242, 239, 239);
  background: linear-gradient(
    180deg,
    rgba(242, 239, 239, 0.7371323529411764) 30%,
    rgba(120, 118, 118, 0.5578606442577031) 100%
  );
  display: flex;
  justify-content: center;
  align-items: flex-end;
  &__texture {
    display: block;
    position: absolute;
    width: 75%;
    aspect-ratio: 4/3;
    top: 0;
    left: 25%;
    &:after {
      content: "\eabe";
      font-family: "icomoon";
      font-size: 30px;
    }
  }
  &__title {
    text-align: center;
    font-size: 12px;
    margin-bottom: 2px;
  }
  &__counter {
    position: absolute;
    left: -5px;
    top: -5px;
  }
  &__button {
    position: absolute;
    top: -5px;
    right: -5px;
    z-index: 2;
    font-size: 10px;
    padding: 0;

    &__text {
      display: none;
    }
    &:after {
      content: "\ea0b";
      font-family: "icomoon";
    }
  }
}

.fridgemenu {
  position: fixed;
  top: 87px;
  left: -100%;
  color: white;
  height: calc(
    100vh - 87px - 45px
  ); //take the viewheight, reduce this by header & footer height
  background-color: black;
  width: 100%;
  z-index: 1;
  overflow-x: hidden;
  transition: 2s;
  &__item {
    padding: 8px 8px 8px 32px;
  }
  &__title {
  }
  &__button {
  }
  &__block {
    &__button {
    }
    &__select {
      &:hover {
        background-color: none;
      }
      max-width: 250px;
    }
  }
}

.open {
  left: 0;
}

@media screen and(min-width: 500px) {
  .fridgemenu {
    width: 250px;
    transition: 2s;
  }

  .fridge {
    &-right {
      margin-left: 250px;
      animation-name: moveright;
      animation-duration: 2s;
    }
    &-left {
      margin-left: 0px;
      animation-name: moveleft;
      animation-duration: 2s;
    }
  }
}

@keyframes moveright {
  0% {
    margin-left: 0px;
  }
  25% {
    margin-left: 0px;
  }

  100% {
    margin-left: 250px;
  }
}

@keyframes moveleft {
  0% {
    margin-left: 250px;
  }

  100% {
    margin-left: 0px;
  }
}
