@use "./base/reset";
@use "./base/extends";
@use "./base/variables" as *;
@use "./base/fonts" as *;
@use "./base/mixins" as *;
@use "./base/icons.scss";

body {
}

div {
  background-color: whitesmoke;
  height: calc(100vh - 20px);
  border-radius: 20px;
}

p {
  color: black;
}
