@use "./base/reset";
@use "./base/extends";
@use "./base/variables" as *;
@use "./base/fonts" as *;
@use "./base/mixins" as *;
@use "./base/icons.scss";
@import "../modules//main_pages/fridge/fridgefooter.scss";
@import "../modules/main_components/header.scss";
@import "../modules/main_pages/fridge/fridge.scss";

body {
  font-family: "Times New Roman", Times, serif;
  background-color: lightgray;
}

p {
  color: black;
}

.container {
}

.disabled {
  pointer-events: none; //This makes it not clickable
  opacity: 0.6; //This grays it out to look disabled
}
